@page "/"

    <AuthorizeView>
        <Authorized>
            <h2>Use the menu to navigate through the different sections.</h2>
        </Authorized>
        <NotAuthorized>
            <h2><span class="oi oi-lock-locked"></span>Authorize to continue in the portal</h2>
        </NotAuthorized>
    </AuthorizeView>